/* You can add global styles to this file, and also import other style files */
img {
  width: 100%;
}
.card {
  overflow: hidden;
}
.card-img {
  border-radius: 0%;
  object-fit: cover;
  height: 100%;
}

.img-question {
  border-radius: 0%;
  object-fit: cover;
  height: 300px;
}

.card-columns {
  column-count: 2;
}

.logo {
  max-width: 200px;
}
app-navbar {
  width: 100%;
}

.navbar {
  margin-bottom: 2rem;
  width: 100%;
}
