/* You can add global styles to this file, and also import other style files */
img {
  width: 100%;
}
.card {
  overflow: hidden;
}
.card-img {
  border-radius: 0%;
  object-fit: cover;
  height: 100%;
}

.card-columns {
  column-count: 2;
}

.logo {
  max-width: 200px;
}

.navbar {
  margin-top: 4.2rem;
  width: 100%;
}
